@font-face {
  font-family: "Butler EB";
  src: url("../../assets/fonts/butler_extrabold-webfont.woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Butler Black";
  src: url("../../assets/fonts/butler_black_stencil-webfont.woff2");
  font-weight: bold;
}
