// COLORS

$clr-primary-light1: dodgerblue;
$clr-primary-light2: #f671ff;
$clr-primary: #ef02ff;
$clr-primary-dark1: #84008e;
$clr-primary-dark2: #66006d;

$clr-secondary-light1: #cdacff;
$clr-secondary-light2: #b17dff;
$clr-secondary: #7517ff;
$clr-secondary-dark1: #3b0093;
$clr-secondary-dark2: #2e0071;

$clr-tertiary-light1: #ffa4c2;
$clr-tertiary-light2: #ff70a0;
$clr-tertiary: #ff0056;
$clr-tertiary-dark1: #bf0040;
$clr-tertiary-dark2: #930032;

$color-grey-light1: #f7f7f7;
$color-grey-light2: #eee;
$color-grey: #777;
$color-grey-dark1: #999;
$color-grey-dark2: #333;

$color-white: #fff;
$color-black: #000;

// HEIGHTS/WIDTHS

$max-form-width: 410px;
